* {
  box-sizing: border-box;
}

.main-header {
  background-color: #24292c;
  color: #fff;
  padding: 15px 0 0;
}

.main-header::after {
  content: "";
  display: block;
  height: 5px;
  background-color: cornflowerblue;
}

.nav {
  display: flex;
  margin: 0;
}

.nav__item {
  padding: 5px 10px;
  list-style: none;
}

.nav__item--active {
  background-color: cornflowerblue;
  font-weight: 900;
  border-top: 2px solid #fff;
}

.nav__link {
  color: inherit;
  text-decoration: none;
}
