/* I didn't contribute heavily on aesthetics in this app —  I even showed mercy to user.agent :)*/

* {
  box-sizing: border-box;
}

.main-header {
  background-color: #24292c;
  color: #fff;
  padding: 15px 0 0;
}

.main-header::after {
  content: "";
  display: block;
  height: 5px;
  background-color: cornflowerblue;
}

.nav {
  display: flex;
  margin: 0;
}

.nav__item {
  padding: 5px 10px;
  list-style: none;
}

.nav__item--active {
  background-color: cornflowerblue;
  font-weight: 900;
  border-top: 2px solid #fff;
}

.nav__link {
  color: inherit;
  text-decoration: none;
}

.nav__link:hover {
  color: cornflowerblue;
}

/* omg ... */
.nav__item--active .nav__link:hover {
  color: black;
}


/* form */

.form {
  text-align: center;
  margin-top: 20px;
}

.form__header {
  font-size: 20px;
}

.form__body {
  width: 300px;
  margin: 0 auto;
  padding: 0 15px 15px;
  border: 1px solid #d8dee2;
  text-align: left;
}

.form__label {
  display: block;
}

.form__input, 
.form__submit {
  width: 100%;
}

.form__input {
  margin-top: 5px;
}

.form__submit {
  font-size: 14px;
  font-weight: bold;
  background-color: cornflowerblue;
  color: black;
  border: 1px solid rgba(27,31,35,0.5);
  display: block;
  margin-top: 20px;
  border-radius: 2px;
  padding: 3px 0;
}

.form__submit:hover {
  cursor: pointer;
  filter: opacity(.93);
}

.attention-msg {
  text-align: center;
  color: coral;
}

.form__area {
  width: 100%;
  height: 150px;
  resize: none;
  margin-top: 5px;
}

.main-title {
  font-size: 16px;
  font-weight: bold;
}

.post-title {
  font-size: 16px;
  font-weight: normal;
  font-family: 'ubuntu mono', serif;
  margin-bottom: 0;
  color: #ff7de4;
  background-color: #27272b;
  display: inline-block;
  padding:3px 5px;
}
