<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>base template</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
  <header>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a href="{{ url_for('home') }}" class="brand">Real Python (for the web!)</a>
        <ul class="nav">
          <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('welcome') }}">Welcome</a></li>
          {% if not session.logged_in %}
          <li><a href="{{ url_for('log') }}">Login</a></li>
          {% else %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>