<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>why bother about unique block title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <header class="main-header" role="banner">
        <ul class="nav">
					<li{% if request.path == url_for('home') %}
						class="nav__item nav__item--active"
						{% else %}
						class="nav__item"
						{% endif %}>
            <a href="{{ url_for('home') }}" class="nav__link">Home</a>
          </li>

					<li{% if request.path == url_for('welcome') %}
						class="nav__item nav__item--active"
						{% else %}
						class="nav__item"
						{% endif %}>
            <a href="{{ url_for('welcome') }}" class="nav__link">Welcome</a>
          </li>

          {% if not session.logged_in %}
					<li{% if request.path == url_for('log') %}
						class="nav__item nav__item--active"
						{% else %}
						class="nav__item"
						{% endif %}>
            <a href="{{ url_for('log') }}" class="nav__link">Login</a>
					</li>
          {% else %}
					<li{% if request.path == url_for('compose') %}
						class="nav__item nav__item--active"
						{% else %}
						class="nav__item"
						{% endif %}>
            <a href="{{ url_for('compose') }}" class="nav__link">Compose</a>
					</li>
						
					<li{% if request.path == url_for('diary') %}
						class="nav__item nav__item--active"
						{% else %}
						class="nav__item"
						{% endif %}>
            <a href="{{ url_for('diary') }}" class="nav__link">Diary</a>
					</li>

          <li class="nav__item"><a class="nav__link" href="{{ url_for('logout') }}">Logout</a></li>
          {% endif %}
        </ul>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
