<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>base template</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <header class="main-header" role="banner">
        <ul class="nav">
          <li class="nav__item nav__item--active">
            <a href="{{ url_for('home') }}" class="nav__link">Home</a>
          </li>
          <!-- Is it redundant (nesting an anchor on a separate line above)? -->
          <li class="nav__item"><a href="{{ url_for('welcome') }}" class="nav__link">Welcome</a></li>
          {% if not session.logged_in %}
          <li class="nav__item"><a href="{{ url_for('log') }}" class="nav__link">Login</a></li>
          {% else %}
          <!-- class attribute or href should go first? -->
          <li class="nav__item"><a class="nav__link" href="{{ url_for('compose') }}">Compose</a></li>
          <li class="nav__item"><a class="nav__link" href="{{ url_for('diary') }}">Diary</a></li>
          <li class="nav__item"><a class="nav__link" href="{{ url_for('logout') }}">Logout</a></li>
          {% endif %}
        </ul>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
