{% extends "template.html" %}
{% block content %}
  <h1>Public stuff</h1>
  <h2>This page is avaliable for all users</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium pariatur cumque, magni et nihil officiis officia ducimus repellendus error. A magnam rem, quidem unde provident laborum iusto harum nisi error?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate debitis veritatis dignissimos doloribus, optio ipsam ut odio rerum, dolorum accusamus numquam mollitia? Numquam ducimus itaque explicabo ullam possimus, ad architecto.</p>
{% endblock %}